<!-- auction.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Auction House WebSocket Example</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='auction.css') }}">
        <script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='auctions.js') }}"></script>
    </head>
    <body>
        <h1>Auction House</h1>
        <a href="/upload_auction" class="btn btn-primary" id="upload-auction-item-btn">Upload Auction Item</a>
        <div class="modal" id="auctionItemModal">
        <div class="modal-dialog">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Upload Auction Item</h4>
                <a href="/post" class="auction-button">Go to Auction</a>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="upload-auction-form">
                <div class="form-group">
                    <label for="item-title">Item Title:</label>
                    <input type="text" class="form-control" id="item-title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="item-username">Username</label>
                    <input type="text" class="form-control" id="item-username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="item-description">Description:</label>
                    <textarea class="form-control" id="item-description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="item-image">Image:</label>
                    <input type="file" class="form-control" id="item-image" name="image" accept="image/jpeg, image/png" required>
                </div>
                <div class="form-group">
                    <label for="starting-price">Starting Price:</label>
                    <input type="number" class="form-control" id="starting-price" name="starting_price" required>
                </div>
                <div class="form-group">
                    <label for="auction-duration">Auction Duration:</label>
                    <input type="number" class="form-control" id="auction-duration" name="duration" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

            </div>
        </div>
        </div>
        <!-- <div id="auction-items">
            {% for item in auction_items %}
            <div class="auction-item">
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
                <img src="{{ url_for('static', filename='images/' ~ item.imagepath) }}" alt="Auction Item Image">
                <p>Current Price: $<span id="current-price-{{ item._id }}">{{ item.price }}</span></p>
                <p>Auction duration: {{ item.duration }}</p>
                <input type="number" id="bid-input-{{ item._id }}" min="1" step="0.01" placeholder="Enter bid amount">
                <button class="btn btn-primary" onclick="bid('{{ item._id }}')">Bid</button>
                <p>Time Remaining: <span id="time-remaining-{{ item._id }}">calculating...</span></p>
            </div>
            {% endfor %}
        </div> -->
        <!-- <div id="auction-details">
            <p>Current Bid: $<span id="current-bid">0</span></p>
        </div> -->
        <div id="messages"></div>
    </body>
</html>
