<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</head>

<body onload="task()">
    <h1>UniMarket</h1>
    <p>Welcome to UniMarket {{ username }}! This is a place where you can buy and sell items with other students.</p>
    
    <p>
        <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Register</a>
    </p>

    <h2>Create a Post</h2>
    <form id="createPostForm">
        <label for="titlePost">Title:</label>
        <input type="text" id="titlePost" name="title" required><br><br>

        <label for="descriptionPost">Description:</label>
        <textarea id="descriptionPost" name="description" required></textarea><br><br>

        <input type="submit" value="Post">
    </form>

    <h2>Posts:</h2>
    <div id="postsContainer">
        <!-- all the post should show up here for now  ||  we need to add css design to it -->
    </div>
    <script src="{{ url_for('static', filename='functions.js') }}"></script>

</body>

</html>