
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
        <title>Profile Page</title>
    </head>
    <body>
        <h1>Welcome to your profile page!</h1>
        <p>Username: {{ username }}</p>
        
        <!-- Email Verification Status -->
        <div id="email-verification">
            <p>Email: {{ email }} ({{ 'Verified' if email_verified else 'Not Verified' }})</p>
            {% if not email_verified %}
            <form action="{{ url_for('resend_verification_email') }}" method="post">
                <input type="hidden" name="email" value="{{ email }}">
                <button type="submit">Resend Verification Email</button>
            </form>
            {% endif %}
        </div>
        
        <h2>Your Auction Posts:</h2>
        <ul>
            {% for post in posts %}
                <li>{{ post.title }}</li>
                <li>{{ post.description }}</li>
                <img src="{{ url_for('static', filename='images/' + post.imagepath) }}" alt="Auction Item Image">
            {% endfor %}
        </ul>
        
        <h2>Your Auction Wins:</h2>
        <ul>
            {% for win in wins %}
                <li>{{ win.title }}</li>
                <li>{{ win.description }}</li>
                <img src="{{ url_for('static', filename='images/' + win.imagepath) }}" alt="Auction Item Image">
            {% endfor %}
        </ul>
    </body>
</html>
