<!-- FILEPATH: /Users/camerontoy/CSE 312 Project/CSE312-Group-Project/templates/register.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Registration Form</title>
    </head>
    <body>
        <h1>Registration Form</h1>
        <form action="/register" method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br><br>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Register">
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </body>
</html>
